#section-4-13 > .ct-section-inner-wrap {padding-top: 75px;padding-right: 20px;padding-bottom: 40px;padding-left: 20px;}
#section-4-13 {background-color: #e6f0fa;}
@media (max-width:991px) {#section-4-13 > .ct-section-inner-wrap {padding-top: 40px;}}
@media (max-width:767px) {#section-4-13 > .ct-section-inner-wrap {padding-bottom: 20px;}}
#div_block-88-13 {width: 50%;}
#div_block-15-13 {width: 100%;background-color: #fff;flex-direction: column;display: flex;text-align: left;align-items: flex-start;justify-content: flex-start;padding-left: 35px;padding-right: 35px;padding-top: 25px;padding-bottom: 35px;}
#div_block-79-13 {width: 100%;background-color: #e6f0fa;flex-direction: column;display: flex;text-align: center;align-items: center;padding-top: 48px;padding-bottom: 48px;padding-left: 36px;padding-right: 36px;}
#div_block-89-13 {width: 50%;}
#div_block-12-13 {width: 100%;background-color: #fff;flex-direction: column;display: flex;text-align: left;align-items: flex-start;justify-content: flex-start;padding-top: 25px;padding-left: 35px;padding-right: 35px;padding-bottom: 30px;}
@media (max-width:991px) {#new_columns-87-13> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-87-13> .ct-div-block {width: 100% !important;}}
#headline-6-13 {margin-bottom: 12px;margin-left: 20px;margin-right: 20px;}
#headline-21-13 {margin-bottom: 12px;}
#text_block-24-13 {margin-left: 20px;margin-right: 20px;margin-bottom: 6px;}
#text_block-29-13 {color: #666;margin-bottom: 24px;}
#text_block-82-13 {font-size: 20px;font-weight: 500;color: #0a5888;line-height: 1.1;margin-bottom: 6px;}
#text_block-84-13 {color: #666;margin-bottom: 24px;}
#link_text-98-13 {flex-direction: unset;}
#link_text-105-13 {flex-direction: unset;}
#image-26-13 {width: 72px;margin-left: -8px;margin-bottom: 6px;}
#image-31-13 {width: 72px;margin-left: -10px;margin-bottom: 6px;}
#fancy_icon-80-13 {color: #0a5888;}
#fancy_icon-80-13>svg {width: 42px;height: 42px;}
#fancy_icon-80-13 {margin-bottom: 6px;}
#_map-3-13 {background-size: cover;height: 460px;background-color: #00adef;background-repeat: no-repeat;}