#section-5-22 > .ct-section-inner-wrap {max-width: 760px;padding-top: 75px;padding-right: 20px;padding-bottom: 75px;padding-left: 20px;}
#section-5-22 {background-color: #e6f0fa;}
#div_block-33-22 {background-color: #fff;}
#div_block-44-22 {width: 100%;padding-left: 36px;padding-right: 36px;padding-bottom: 24px;}
#headline-8-22 {margin-bottom: 12px;}
#text_block-7-22 {margin-bottom: 6px;margin-top: 12px;}
#blogpost-content {color: #666;}
#image-6-22 {margin-bottom: 20px;background-color: #00adef;width: 100%;min-height: 20%;}
#code_block-27-22 {flex-direction: unset;display: none;}
#_comments-72-22 {margin-top: 60px;}
#_comment_form-73-22 input, #_comment_form-73-22 textarea {border-color: #fff;color: #333;}
#_comment_form-73-22 #submit {background-color: #00adef;color: #fff;}