#section-23-4 > .ct-section-inner-wrap {max-width: 1120px;padding-top: 25px;padding-bottom: 25px;display: flex;flex-direction: row;align-items: center;justify-content: space-between;}
#section-23-4 {background-color: #0a5888;text-align: justify;color: #fff;}
#section-18-4 > .ct-section-inner-wrap {max-width: 1120px;padding-top: 20px;padding-bottom: 0;display: flex;flex-direction: column;justify-content: space-between;}
#section-18-4 {background-color: #0f3d59;text-align: center;}
@media (max-width:991px) {#section-23-4 > .ct-section-inner-wrap {padding-bottom: 35px;display: flex;flex-direction: column;}}
@media (max-width:767px) {#section-23-4 > .ct-section-inner-wrap {display: flex;flex-direction: column;align-items: center;}
	#section-23-4 {text-align: center;}}
#div_block-60-4 {flex-direction: column;display: flex;text-align: right;align-items: flex-end;}
#div_block-10-4 {flex-direction: row;text-align: center;display: flex;padding-top: 8px;padding-bottom: 8px;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #eee;align-items: center;padding-right: 15px;padding-left: 15px;}
#div_block-96-4 {flex-direction: row;text-align: center;display: flex;align-items: center;}
#div_block-25-4 {text-align: left;display: flex;flex-direction: row;align-items: center;justify-content: flex-start;}
#div_block-31-4 {align-items: flex-start;text-align: left;}
#div_block-65-4 {flex-direction: row;text-align: justify;display: flex;justify-content: space-between;width: 100%;}
#div_block-70-4 {width: 100%;border-top-color: rgba(255,255,255,.2);border-top-width: 1px;border-top-style: solid;margin-top: 20px;flex-direction: row;text-align: justify;display: flex;justify-content: space-between;padding-top: 10px;padding-bottom: 10px;padding-left: 15px;padding-right: 15px;}
@media (max-width:991px) {#div_block-60-4 {width: 100%;}}
@media (max-width:991px) {#div_block-10-4 {display: flex;flex-direction: column;align-items: flex-end;text-align: right;}}
@media (max-width:991px) {#div_block-96-4 {flex-direction: row;display: flex;}}
@media (max-width:991px) {#div_block-25-4 {flex-direction: row;display: flex;align-items: center;margin-bottom: 20px;}}
@media (max-width:767px) {#div_block-60-4 {flex-direction: column;display: flex;align-items: center;text-align: center;}}
@media (max-width:767px) {#div_block-10-4 {flex-direction: column;display: flex;align-items: center;text-align: center;padding-bottom: 24px;padding-top: 20px;}}
@media (max-width:767px) {#div_block-25-4 {flex-direction: column;display: flex;align-items: center;text-align: center;}}
@media (max-width:767px) {#div_block-31-4 {flex-direction: column;display: flex;align-items: center;text-align: center;}}
@media (max-width:767px) {#div_block-65-4 {flex-direction: column;display: flex;align-items: center;text-align: center;}}
@media (max-width:767px) {#div_block-70-4 {flex-direction: column;display: flex;align-items: center;text-align: center;}}
#headline-27-4 {font-family: "Maven Pro";color: #fff;margin-bottom: 6px;}
#text_block-46-4 {color: #999;font-size: 12px;margin-right: 1px;text-align: left;}
#text_block-29-4 {color: rgba(255,255,255,.5);font-size: 16px;}
@media (max-width:991px) {#text_block-46-4 {margin-right: 0px;}}
#link_text-103-4 {color: #fff;}
#link-8-4 {background-color: #00adef;padding-left: 30px;padding-right: 30px;padding-top: 20px;padding-bottom: 20px;margin-bottom: -40px;margin-left: 20px;transition-duration: .2s;transition-timing-function: ease;transition-property: all;}
#link-8-4:hover {background-color: #0a5888;}
#link-21-4 {padding-left: 10px;padding-right: 10px;}
@media (max-width:991px) {#link-8-4 {margin-bottom: 0px;}}
@media (max-width:767px) {#link-8-4 {margin-left: 0px;}}
#image-9-4 {width: 150px;}
#image-61-4 {width: 14px;height: 14px;margin-right: 6px;}
#image-26-4 {width: 72px;height: 72px;margin-right: 10px;}
#image-22-4 {width: 215px;}
#_nav_menu-57-4 .oxy-nav-menu-hamburger-line {background-color: #666;}
@media (max-width:991px) {#_nav_menu-57-4 .oxy-nav-menu-list {display: none;}
	#_nav_menu-57-4 .oxy-menu-toggle {display: initial;}
	#_nav_menu-57-4.oxy-nav-menu.oxy-nav-menu-open .oxy-nav-menu-list {display: initial;}}
#_nav_menu-57-4.oxy-nav-menu.oxy-nav-menu-open {margin-top: 0 !important;margin-right: 0 !important;margin-left: 0 !important;margin-bottom: 0 !important;}
#_nav_menu-57-4.oxy-nav-menu.oxy-nav-menu-open .menu-item a {padding-top: 12px;padding-bottom: 12px;padding-left: 15px;padding-right: 15px;}
#_nav_menu-57-4.oxy-nav-menu .menu-item a:hover {text-decoration: none;}
#_nav_menu-57-4 .oxy-nav-menu-hamburger-wrap {width: 24px;height: 24px;}
#_nav_menu-57-4 .oxy-nav-menu-hamburger {width: 24px;height: 19px;}
#_nav_menu-57-4 .oxy-nav-menu-hamburger-line {height: 3px;background-color: #0f3d59;}
#_nav_menu-57-4.oxy-nav-menu-open .oxy-nav-menu-hamburger .oxy-nav-menu-hamburger-line:first-child {top: 8px;}
#_nav_menu-57-4.oxy-nav-menu-open .oxy-nav-menu-hamburger .oxy-nav-menu-hamburger-line:last-child {top: -8px;}
#_nav_menu-57-4 {font-family: "Maven Pro";text-decoration: none;}
#_nav_menu-57-4 .menu-item a {color: #666;text-transform: uppercase;font-size: 14px;font-weight: 500;letter-spacing: 1px;text-align: center;text-decoration: none;padding-left: 15px;padding-top: 20px;padding-right: 15px;padding-bottom: 20px;}
#_nav_menu-57-4 .current-menu-item a {color: #fd834c;padding-top: 16px;border-top-width: 4px;}
#_nav_menu-57-4.oxy-nav-menu:not(.oxy-nav-menu-open) .sub-menu .menu-item a {border: 0;padding-top: 20px;padding-bottom: 20px;}
#_nav_menu-57-4:hover {text-decoration: none;}
#_nav_menu-57-4 .menu-item:hover a {color: #00adef;}
#_nav_menu-57-4.oxy-nav-menu:not(.oxy-nav-menu-open) .sub-menu .menu-item a:hover {border: 0;padding-top: 20px;padding-bottom: 20px;}
#_nav_menu-63-4 .oxy-nav-menu-hamburger-line {background-color: rgba(255,255,255,.5);}
@media (max-width:767px) {#_nav_menu-63-4 .oxy-nav-menu-list {display: none;}
	#_nav_menu-63-4 .oxy-menu-toggle {display: initial;}
	#_nav_menu-63-4.oxy-nav-menu.oxy-nav-menu-open .oxy-nav-menu-list {display: initial;}}
#_nav_menu-63-4.oxy-nav-menu.oxy-nav-menu-open {background-color: #0f3d59;margin-top: 0 !important;margin-right: 0 !important;margin-left: 0 !important;margin-bottom: 0 !important;}
#_nav_menu-63-4.oxy-nav-menu.oxy-nav-menu-open .menu-item a {color: rgba(255,255,255,.5);padding-top: 12px;padding-bottom: 12px;padding-left: 20px;padding-right: 20px;}
#_nav_menu-63-4.oxy-nav-menu.oxy-nav-menu-open .menu-item a:hover {color: #fff;}
#_nav_menu-63-4.oxy-nav-menu .menu-item a:hover {text-decoration: none;}
#_nav_menu-63-4 .oxy-nav-menu-hamburger-wrap {width: 24px;height: 24px;}
#_nav_menu-63-4 .oxy-nav-menu-hamburger {width: 24px;height: 19px;}
#_nav_menu-63-4 .oxy-nav-menu-hamburger-line {height: 3px;background-color: white;}
#_nav_menu-63-4.oxy-nav-menu-open .oxy-nav-menu-hamburger .oxy-nav-menu-hamburger-line:first-child {top: 8px;}
#_nav_menu-63-4.oxy-nav-menu-open .oxy-nav-menu-hamburger .oxy-nav-menu-hamburger-line:last-child {top: -8px;}
#_nav_menu-63-4 {font-family: "Maven Pro";align-self: auto;}
#_nav_menu-63-4 .oxy-nav-menu-list {flex-direction: row;}
#_nav_menu-63-4 .menu-item a {padding-left: 20px;padding-right: 20px;padding-top: 20px;padding-bottom: 20px;text-align: center;text-transform: uppercase;letter-spacing: 1px;font-size: 14px;color: rgba(255,255,255,.5);font-weight: 500;text-decoration: none;}
#_nav_menu-63-4 .current-menu-item a {color: #fff;}
#_nav_menu-63-4.oxy-nav-menu:not(.oxy-nav-menu-open) .sub-menu {background-color: #0f3d59;}
#_nav_menu-63-4.oxy-nav-menu:not(.oxy-nav-menu-open) .sub-menu .menu-item a {border: 0;padding-top: 20px;padding-bottom: 20px;}
#_nav_menu-63-4 .menu-item:hover a {color: #fff;}
#_nav_menu-63-4.oxy-nav-menu:not(.oxy-nav-menu-open) .sub-menu:hover {background-color: #0f3d59;}
#_nav_menu-63-4.oxy-nav-menu:not(.oxy-nav-menu-open) .sub-menu .menu-item a:hover {border: 0;padding-top: 20px;padding-bottom: 20px;}
@media (max-width:991px) {#_nav_menu-57-4 {padding-top: 18px;padding-left: 18px;padding-right: 18px;padding-bottom: 18px;}
	#_nav_menu-57-4.oxy-nav-menu:not(.oxy-nav-menu-open) .sub-menu .menu-item a {border: 0;}}
@media (max-width:767px) {#_nav_menu-63-4 {padding-top: 20px;padding-left: 20px;padding-right: 20px;padding-bottom: 20px;}
	#_nav_menu-63-4.oxy-nav-menu:not(.oxy-nav-menu-open) .sub-menu .menu-item a {border: 0;}}
@media (max-width:479px) {#_nav_menu-63-4 {flex-direction: unset-reverse;}
	#_nav_menu-63-4.oxy-nav-menu:not(.oxy-nav-menu-open) .sub-menu .menu-item a {border: 0;}}
#_header-3-4 .oxy-nav-menu-open, #_header-3-4 .oxy-nav-menu:not(.oxy-nav-menu-open) .sub-menu {background-color: white;}
#_header-3-4 {background-color: white;padding-top: 0px;padding-bottom: 0px;}
@media (max-width:767px) {#_header_row-4-4 .oxy-header-container {flex-direction: column;}
	#_header_row-4-4 .oxy-header-container > div {justify-content: center;}}
.oxy-header.oxy-sticky-header-active > #_header_row-4-4.oxygen-show-in-sticky-only {display: block;}
#_header_row-4-4 {border-bottom-width: 1px;border-bottom-color: #eee;border-bottom-style: solid;justify-content: space-between;flex-direction: unset;box-shadow: 0px 0px 8px rgba(0,0,0,.1);}
#span-80-4 {color: #fff;}
#span-92-4 {color: #fff;}